@import '@/styles/variables.scss';
@import '@/styles/mixins.scss';

.teachers {
    @include section-y-padding;
    @include section-x-padding;

    background-color: $theme-blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $theme-white;
    gap: 15px;
}

.title {
    text-align: center;
}

.teachers_list {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    gap: 20px;

    @include for-tablet-portrait-up {
        grid-template-columns: 1fr 1fr; 
    }

    @include for-tablet-landscape-up {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include for-desktop-up {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}