@import '../../../../../styles/mixins.scss';
@import '../../../../../styles/variables.scss';

.programs {
    @include section-y-padding;
    @include section-x-padding;
    width: 100%;
    background-color: $theme-matt-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px;
}

.cards_wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}