@import '../../../../../styles/variables.scss';
@import '../../../../../styles/mixins.scss';


.hero {
    background-color: $theme-blue;
    width: 100%;
    padding-top: 220px;
    padding-bottom: 65px;
    color: $theme-white;
    overflow: hidden;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    position: relative;
    z-index: 5;
    @include section-x-padding;

    @include for-tablet-landscape-up {
        flex-direction: row;
        align-items: flex-start;
        gap: 0;
    }
    
}

.contact_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.contact_item {
    display: flex;
    gap: 10px;
    

    .contact_text {
        font-weight: 600;
        letter-spacing: 2px;
        transition: 0.2s ease-in-out;

        &:hover {
            color: $theme-light-blue
        }
    }

    .icon {
        color: $theme-light-blue;
    }
}

.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}

.image {
    width: 80%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

.yellow {
    color: $theme-yellow
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style: disc;
    margin-left: 15px;
}

.blob_top_left {
    position: absolute;
    z-index: 1;
    top: -200px;
    left: -140px;
}

.blob_right {
    position: absolute;
    top: -200px;
    right: -300px;
    z-index: 1;
    display: none;

    @include for-tablet-portrait-up {
        display: block;
    }
}

.blob_under_image {
    position: absolute;
    z-index: 0;
}

.image_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
